{
    "extends": "react-app",
    "globals": {
        "chrome": "readonly"
    },
    "rules": {
        "react/self-closing-comp": [
            "error",
            {
                "component": true,
                "html": true
            }
        ]
    }
}
