.App {
    width: 100%;
    height: 100%;
    background: url('../../assets/bg2.jpg');
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 12rem;
        margin-bottom: 9rem;
        color: whitesmoke;
        text-shadow: black -1rem 0.5rem 2rem;
    }

    .foreground {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background: url('../../assets/bg2.jpg');
        mask-image: url('../../assets/bg2-mask.svg');
        -webkit-mask-image: url('../../assets/bg2-mask.svg');
        -webkit-mask-size: cover;
        -webkit-mask-position: center;
        background-size: cover;
        background-position: center;
    }
}

.widget-container {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;

    display: flex;

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 3rem 0.5rem 3rem;

        h2 {
            color: whitesmoke;
            text-shadow: rgba(0, 0, 0, 0.518) 0 0 0.3rem;
        }

        .inner {
            display: flex;
            a {
                color: whitesmoke;
                font-size: 1rem;
                font-weight: bold;
                text-shadow: rgba(0, 0, 0, 0.518) 0 0 0.3rem;
                text-decoration: none;
            }

            .spacer {
                width: 1rem;
            }
        }
    }
}
